.form__wrapper {
		width: 80%;
		min-height: 50vh;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

.add-form {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		width: 90%;
		color: #49494b;
}

.add-form__header {
		margin: 12px 0;
		padding: 12px 0;
		font-size: 1.6rem;
}

.add-form input {
		margin: 12px 0;
		padding: 4px 0;
		max-width: 900px;
		width: 80%;
		height: 35px;
		color: #49494b;
		font-size: 1rem;
		border: 1px dotted #49494b;
		text-align: center;
		outline: none;
		background-color: rgba(255, 255, 255, 0.4);
}

.add-form__song-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 90%;
		padding: 20px 0;
		margin: 12px 0;
		border-bottom: 1px dotted #49494b;
		box-sizing: border-box;
}

.add-form button {
		cursor: pointer;
		border-radius: 0px;
		text-decoration: none;
		margin: 12px 12px;
		padding: 12px 18px;
		font-size: 12px;
		line-height: 19px;
		min-width: 150px;
		max-width: 200px;
		width: 3 s0%;
		text-transform: uppercase;
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 400;
		letter-spacing: 3px;
		border: solid 2px #49494b;
		background: transparent;
		color: #49494b;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-ms-transition: all .1s linear;
		-o-transition: all .1s linear;
		transition: all .1s linear;
		outline: none;
		box-sizing: border-box;
}

.add-form button:hover {
		background-color: #49494b;
		color: white;
		border-radius: 30px;
		transition: all .4s ease-out;
		-webkit-transition: all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
		-o-transition: all .4s ease-out;
}

.add-form button:active {
		background-color: #49494b;
		color: lightgrey;
		transition: all .1s linear;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-ms-transition: all .1s linear;
		-o-transition: all .1s linear;
}

.add-form__submit-btn {
		width: 80% !important;
}

.add-form h2,
.add-form h3,
.add-form h4 {
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: #49494b;
		/*		margin: 12px 0;*/
}

.add-form>select {
		width: 80%;
		max-width: 900px;
		height: 20%;
		-webkit-appearance: none;
		padding: 8px 16px;
		margin: 12px 0;
		color: #49494b;
		background-color: rgba(255, 255, 255, 0.4);
		outline: none;
}

.add-playlist-btn {
		visibility: hidden;
}

/*edit*/

.edit-form {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		width: 90%;
		color: #49494b;
}

.edit-form__header {
		margin: 12px 0;
		padding: 12px 0;
		font-size: 1.6rem;
}

.edit-form input {
		margin: 12px 0;
		width: 80%;
		height: 35px;
		color: #49494b;
		font-size: 1rem;
		border: 1px dotted #49494b;
		text-align: center;
		outline: none;
}

.edit-form button {
		cursor: pointer;
		border-radius: 0px;
		text-decoration: none;
		margin: 12px 12px;
		padding: 12px 18px;
		font-size: 12px;
		line-height: 19px;
		min-width: 100px;
		width: 30%;
		max-width: 200px;
		text-transform: uppercase;
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 400;
		letter-spacing: 3px;
		border: solid 2px #49494b;
		background: transparent;
		color: #49494b;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-ms-transition: all .1s linear;
		-o-transition: all .1s linear;
		transition: all .1s linear;
		outline: none;
		box-sizing: border-box;
}

.edit-form button:hover {
		background-color: #49494b;
		color: white;
		border-radius: 30px;
		transition: all .4s ease-out;
		-webkit-transition: all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
		-o-transition: all .4s ease-out;
}

.edit-form button:active {
		background-color: #49494b;
		color: lightgrey;
		transition: all .1s linear;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-ms-transition: all .1s linear;
		-o-transition: all .1s linear;
}

.edit-form__submit-btn {
		width: 80% !important;
}

.edit-form h2,
.edit-form h3,
.edit-form h4,
.delete__header,
.not-found__header,
		{
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: #49494b;
		/*		margin: 12px 0;*/
}

.edit-form__song-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 90%;
		padding: 20px 0;
		margin: 12px 0;
		border-bottom: 1px dotted #49494b;
		box-sizing: border-box;
}

.edit-form>select {
		width: 40%;
		height: 20%;
		-webkit-appearance: none;
		padding: 8px 16px;
		margin: 12px 0;
		color: #49494b;
}

/**/

.form__btn-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
}

/**/

.logout-form {
		overflow-y: hidden;
		height: 100%;
}