body{
  background-color: black;
  font-family: helvetica;
  margin: 50px;
}

.reize-img {
  max-width:50%;
  max-height:50%;
}


h3 {
  color: red;
  font-family: sans-serif;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

h4 {
  color: RGB(242, 106, 94);
  font-family: sans-serif;
  font-weight: lighter;
}

h4:hover {
  font-weight: bold;
}

p{
  color: rgb(242, 159, 140);
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a{
  color: lightgrey;
  font-weight: lighter;
  font-family: sans-serif;
  margin-right: auto;
}

article h3{
  color: lightgrey;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

article h2 a{
  color: black;
  text-decoration: none;
}

article h4 a{
  color: red;
  font-family: arial;
  float: right;
  text-decoration: none;
}

article p{
  color: grey; /*grey */
  font-family: arial;
  line-height:150%;
  margin-top: 10px;
  padding-top: 10px;
}

article p::first-letter {  /*Google Drop Caps*/
  color: rgb(221,221,221); /*grey */
  font-size: 500%;
  font-family: arial;
  font-weight: lighter;
}
