body{
	background-image: url(https://ak6.picdn.net/shutterstock/videos/17003866/thumb/1.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	color:white;
}
.containertop{
	margin:30px 0;
}
.giphy-embed{
	width:100%;
}
.container{
	width:1000px;
	margin:20px auto;
}
.containerbtm{
	margin-top: 30px;
}

.name{
	border-right: 5px solid white;
	border-left: 5px solid white;
}

.name,.profile{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color:red;
	font-weight: bold;
	font-size: 40px;
}

.button:hover{
	color:white;
	text-decoration: none;
}

.song{
	color:white;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

a{
	font-size: 40;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color:red;
	font-weight: bold;
	font-size: 30px;
}

img{
	margin:40px auto 30px auto;
	width:500px;
	height:300px;
	border-radius: 10%;
}
.containermid{
	margin:20px auto;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

p{
	font-size: 40px;
}