body{
	background-image: url(https://ak6.picdn.net/shutterstock/videos/17003866/thumb/1.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	color:white;
}
.containertop{
	margin:30px auto;
}
.title{
	border-left: 5px solid white;
	border-right: 5px solid white
}
.container{
	width:1000px;
	margin:20px auto;
}
.containerbtm{
	margin-top: 50px;
}

a,p{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color:red;

}

.button{
		font-size: 30px;
}

.button:hover{
	color:white;
	text-decoration: none;
}



p{
	font-size: 40px;
}


img{
	margin:30px auto;
	width:500px;
	height:300px;
	border-radius: 10%;
}
.containermid{
	margin:50px auto;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}